#teacher {
    height: 100%;
    position: relative;
    top: 0px;
}
#teacher-container {
    margin-top: 5%;
    margin-bottom: 15%;
}

#lessonsCard {
    border-radius: 3%;
    width: 100%;
    border-color: rgb(243, 243, 243);
}
#lessonTitle {
    color: rgb(80, 80, 80);
    font-weight: bold;
    text-align: left;
}
#editBtn {
    border-radius: 7%;
    background-color: rgb(255, 238, 0);
    border: none;
    color: rgb(80, 80, 80);
    padding: 1px;
}
#editNavLink {
    color: rgb(80, 80, 80);
}