#module-container {
    content: "";
    background: url(./phone-pdf2.jpg);
    background-size: cover;
    margin-top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    max-width: none;
    padding: 10%;
}

